*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(33, 20, 20);
    font-family: Cosmica (woff2), "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgba(255, 255, 255, 0.945);
}

a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.945);
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 650;
}

.li a:hover{
    color: gold;
    text-decoration: underline;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: rgb(33, 20, 20);
    height: 90px;
    padding: 0px 50px;
}

.li{
    display: flex;
    gap: 50px;
}


button{
    padding: 10px 45px;
    border-radius: 100px;
    font-size: 21px;
    background-color:rgb(224, 49, 49);
    color: white;
}


button:hover{
    outline: 3px solid rgb(224, 49, 49);
}

.sec{
    margin-left: 150px;
    margin-top: 40px;
    padding: 20px 50px;
    font-family: PPMor, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgba(255, 255, 255, 0.945);
}
h1{
    font-size: 48px;
    margin-top: 5%;
    margin-left: 0px;
}
p{
    margin-left: 0px;
    font-size: 30px;
}

.tho{
    text-decoration: underline;
    color: rgb(252, 237, 155);
    opacity: ;
}
.tho:hover{
    color: gold;
    text-decoration: none;
}

.sec1{
    margin-top: 20px;
    margin-left: 150px;
    padding: 20px 50px;
    font-family: Cosmica, Helvetica, Arial, sans-serif;
    color: rgba(255, 255, 255, 0.945);
}
hr{
    margin-left: 200px;
    margin-top: 30px;
    width: 67%;
    color: rgba(255, 255, 255, 0.247);
}

.list1{
    display: flex;
    gap: 17px;
    align-items: center;
}

.list1>a .b2{
    padding: 10px 22px;
    /* border-radius: 100px; */
    font-size: 21px;
    background-color: transparent;
    color:#faf9f9;
    outline: 0px;
    border: 1px solid #dab1b177;
}
.list1>a>.b2:hover{
    outline: 0;
    background-color: #ffe7a3;
    color: #211414;
}

.list1>a>.b1{
    background-color: #ffc726;
    color: #211414;
}
.b1:hover{
    outline: none;
}

.lt5{
    text-decoration: underline;
}

.lt5:hover{
    text-decoration: none;
    color: #ffc726;
}



h2{
    font-size: 31px;
    margin-left: 0px;
    margin-top: 40px;
}
h2:hover{
    color: gold;
}

.small{
    font-size: 20px;
    margin-top: 10px;
}

form{
    height: 280px;
    width: 67%;
    border: 1px solid rgb(46, 28, 28);
    margin-left: 200px;
    margin-top: 40px;
    background-color: rgb(46, 28, 28);
}
.for{
    color: rgba(255, 255, 255, 0.945);
    font-family: Cosmica, Helvetica, Arial, sans-serif;
    font-size: 35px;
    margin-left: 40px;
    margin-top: 40px;
}
input{
    width: 75%;
    background-color: rgb(33, 20, 20);
    color: white;
    border-color: rgb(33, 20, 20);
    height: 40px;
    border-bottom: 1px solid rgb(224, 49, 49);
}
.sub{
margin-left: 2px;
}
.smallie{
    font-size: 19px;
    margin-left: 230px;
    margin-top: 20px;
    font-family: Cosmica, Helvetica, Arial, sans-serif;
    border-bottom: 1px solid rgba(255, 255, 255, 0.062);
}
.pg{
    text-transform: uppercase;
    font-size: 17px;
}
.pg:hover{
    color: gold;
}
.lnk:hover{
    color: gold;
}

.numb{
    font-size: 17px;
    margin-top: 40px;
    margin-left: 400px;
    margin-bottom: 50px;
}

footer{
    padding: 40px 100px;
    height: 70vh;
    border-top: 1px solid rgba(255, 255, 255, 0.089);
}
.footer-row1{
    display: flex;
}
.sade{
    flex-basis: 50%;
}


.footer-group{
    flex-basis: 50%;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.footer-links{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: PPMori, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.footer-links>a{
    color: rgba(255, 255, 255, 0.945);
    text-decoration: underline;
}

.footer-links>a:hover{
    text-decoration: none;
    color: #ffc726;
}

.inc{
    display: flex;
    justify-content: space-between;
}

.inc{
    display: flex;
    flex-basis: 50;
    margin-top: 180px;
}

.inc2{
    display: flex;
    /* margin-bottom: 10px; */
}